.overview-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    // background-image: linear-gradient(to bottom, #FFFFFF, #d7faff);
}

.card {
    padding: 25px;
    border-radius: 12px;
    background: rgb(255, 254, 224);
    flex: 0 0 380px;
    text-align: left !important;
    height: 180px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 4px 4px #0000001A;
    margin-bottom: 48px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    p {
        text-align: left !important;
    }

    &:hover {
        background-color: rgb(253, 252, 210);
    }
}

.add-task-btn {
    position: fixed;
    right: 56px;
    bottom: 56px;
}

.content {
    font-size: 12px;
}