.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    width: 100%;
    th {
        color: rgb(122, 117, 117);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}