<mat-card class="p-16">
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birth date</th>
      <th>City</th>
      <th>Street</th>
    </tr>
    <tr>
      <td>User1</td>
      <td>mail1@user.de</td>
      <td>10/4/1999</td>
      <td>Berlin</td>
      <td>Main Street</td>
    </tr>
    <tr>
      <td>User2</td>
      <td>mail222@user.de</td>
      <td>12/6/1966</td>
      <td>Hamburg</td>
      <td>New Street</td>
    </tr>

  </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user"
  matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>