<p>Contacts</p>
<mat-card class="p-16">
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birth date</th>
      <th>City</th>
      <th>Street</th>
    </tr>
    <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.id]">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ formatBirthDate(user.birthDate) }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.street }}</td>
    </tr>
    

  </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user"
  matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>