html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16 {
    margin-right: 16px;
}

.p-16 {
    padding: 16px;
}

.full-width {
    width: 100%;
}

.mt-32 {
    margin-top: 32px;
}

.pt-14 {
    padding-top: 14px;
}
